/* Styling Only Related To ALL Pages */


ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

li{
  display: inline;
}

li a {
  text-decoration: none;
  padding: 10px;
  color: aliceblue;
  display: block;
  font-family: "Patrick Hand SC", cursive;
  font-weight: 400;
  font-style: normal;

}